<!--The content below is only a placeholder and can be replaced.-->
<p>Open your console to see life Cycle : <button (click)="toggle()">Toggle Component hello</button></p>
<hr>
<app-hello *ngIf="isActive" [name]="'sawyer'"></app-hello>

<hr>

<!--<h2>@Self标签</h2>-->
<!--<app-father></app-father>-->

<!--<hr>-->
<!--<h2>@Host标签</h2>-->
<!--<app-host-father>-->
  <!--<app-host-son></app-host-son>-->
<!--</app-host-father>-->

<!--<hr>-->
<!--<app-manual-injector-son></app-manual-injector-son>-->

<hr>
<app-view-provider-father>
  <app-view-provider-son></app-view-provider-son>
</app-view-provider-father>


